body {
	background-color: #2B2B2B;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#splash {
	font-size: 70px;
	height: 100vh;
	padding-top: 70%;
	width: 100%;
}

.foodmap-color{
	color: #DE8536;
}

h1 {
	font-size: 60px;
}

hr {
	padding: 0;
	margin-bottom: 4%;
	margin-top: 0;
	background-color: white;
	border: none;
	height: 3px;

}

.white {
	color: white;
}

#map {
	height: 200px;
}

.placeholder {
	border: none;
	outline: none;
}

.search {
	background-color: #2B2B2B;
	padding: 2px;
	padding-right: 5px !important;
	margin-left: -10px;
}

.btn-height {
	border-style: none;
	background-color: white;
	height: 22px;
	padding-right: 1px;
}

.img-food {
	margin-top: 10%;
}

#restaurant_map {
	height: 200px;
	border: 1px solid black;
}

.modal_header {
	padding: 15px;
}